{
    "chat.agent.enabled"{{ .chezmoi.pathListSeparator }} false,
    "codeviz.analyticsEnabled"{{ .chezmoi.pathListSeparator }} false,
    "editor.fontFamily"{{ .chezmoi.pathListSeparator }} "JetBrainsMono Nerd Font Mono, Monaco, 'Courier New', monospace",
    "editor.fontSize"{{ .chezmoi.pathListSeparator }} 16,
    "editor.formatOnSave"{{ .chezmoi.pathListSeparator }} true,
    "editor.rulers"{{ .chezmoi.pathListSeparator }} [
        80,
        120
    ],
    "editor.tabSize"{{ .chezmoi.pathListSeparator }} 2,
    "telemetry.editStats.enabled"{{ .chezmoi.pathListSeparator }} false,
    "telemetry.feedback.enabled"{{ .chezmoi.pathListSeparator }} false,
    "telemetry.telemetryLevel"{{ .chezmoi.pathListSeparator }} "off",
    "terminal.integrated.fontSize"{{ .chezmoi.pathListSeparator }} 15,
    "todo-tree.general.tags"{{ .chezmoi.pathListSeparator }} [
        "BUG",
        "HACK",
        "FIXME",
        "TODO",
        "XXX",
        "[ ]",
        "[x]",
        "@TODO"
    ],
    "update.showReleaseNotes"{{ .chezmoi.pathListSeparator }} false,
    "workbench.activityBar.location"{{ .chezmoi.pathListSeparator }} "top",
    "workbench.iconTheme"{{ .chezmoi.pathListSeparator }} "material-icon-theme",
    "workbench.secondarySideBar.defaultVisibility"{{ .chezmoi.pathListSeparator }} "hidden",
    "workbench.sideBar.location"{{ .chezmoi.pathListSeparator }} "right",
    "workbench.startupEditor"{{ .chezmoi.pathListSeparator }} "none",
    "workbench.welcomePage.walkthroughs.openOnInstall"{{ .chezmoi.pathListSeparator }} false,
    "workbench.welcomePage.experimentalOnboarding"{{ .chezmoi.pathListSeparator }} false
}